.message-board-container {
    .writing-wrapper {
        .title {
            height: 65px;
            background-color: gray;
            line-height: 65px;
            text-align: center;
            font-size: 28px;
            font-weight: bold;
        }
        .writing-container {
            position: relative;
            padding: 10px 0 0 30px;
            .name {
                height: 30px;
                width: 200px;
                margin-bottom: 5px;
                background-color: #5a5b64;
                color: white;
                padding-left: 10px;
                border: 0;
                font-size: 20px;
            }
            .content {
                height: 150px;
                width: 800px;
                background-color: #5a5b64;
                color: white;
                padding-left: 10px;
                border: 0;
                font-size: 20px;
                resize: none;
            }
            .submit-btn {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .gray-block {
            height: 20px;
            margin: 10px 0 10px 0;
            background-color: gray;
        }
    }
    .message-container {
        padding: 10px;
        position: relative;
        border-bottom: 1px solid;
        &:last-child {
            border-bottom: none;
        }
        .name {
            display: inline;
        }
        .date {
            display: inline-block;
            margin-left: 50px;
            font-size: 16px;
            float: right;
        }
        .content {
            margin: 10px 0 0 0;
        }
        .reply-btn {
            position: absolute;
            right: 0;
            bottom: 10px;
        }
        .cancel-btn {
            position: absolute;
            right: 0;
            bottom: 10px;
        }
        .reply-container {
            padding: 10px;
            margin: 0 50px 0 50px;
            position: relative;
            border-bottom: 1px solid;
            &:last-child {
                border-bottom: none;
            }
            .name {
                display: inline;
            }
            .date {
                display: inline-block;
                margin-left: 50px;
                font-size: 16px;
                float: right;
            }
            .content {
                margin: 10px 0 0 0;
            }
        }
        .reply-input {
            padding: 10px 50px 0 50px;
            .name {
                height: 30px;
                width: 200px;
                background-color: #5a5b64;
                color: white;
                padding-left: 10px;
                border: 0;
                font-size: 20px;
            }
            .content {
                height: 90px;
                width: 800px;
                margin-top: 5px;
                background-color: #5a5b64;
                color: white;
                padding-left: 10px;
                border: 0;
                font-size: 20px;
                resize: none;
            }
            .submit-btn {
                position: absolute;
                bottom: 50px;
                right: 0;
            }
        }
    }
}