body {
    background-color: #333;
    color: white;
    font-family: Microsoft JhengHei, serif;
}

#home-container {
    width: 950px;
    margin: auto;
    button {
        border-radius: 5px;
        z-index: 1;
    }
    #tab-container {
        display: flex;
        font-size: 30px;
        color: #8b8b8b;
        .title {
            flex: 2;
            color: orange;
            font-size: 50px;
            padding-top: 0;
        }
        .tab {
            flex: 1;
            text-align: center;
            padding-top: 50px;
            &.active {
                color: white;
            }
        }
    }
    #go-message-board-icon-container {
        position: fixed;
        bottom: 30px;
        right: 10px;
        img {
            width: 48px;
        }
    }
    #content-container {
        border: 1px solid;
        //min-height: 500px;
        padding: 10px;
        font-size: 20px;
        @import "messageBoard";
        .about-container, .skill-container, .project-container {
            margin: 30px;
            text-align: center;
            line-height: 35px;
            a, &:visited {
                color: #ffc78e;
            }
            .left-part {
                margin-right: 40px;
                display: inline-block;
                text-align: left;
                width: 100px;
            }
            .right-part {
                display: inline-block;
                text-align: left;
                width: 400px;
            }
            .project-div {
                margin-top: 40px;
                text-align: left;
                position: relative;
                .title {
                    font-size: 25px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    span {
                        font-weight: normal;
                        font-size: 18px;
                    }
                }
                ul {
                    list-style-type: none;
                    margin: 7px 0;
                }

                img {
                    width: 300px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

}


