body {
  background-color: #333;
  color: white;
  font-family: Microsoft JhengHei, serif; }

#home-container {
  width: 950px;
  margin: auto; }
  #home-container button {
    border-radius: 5px;
    z-index: 1; }
  #home-container #tab-container {
    display: flex;
    font-size: 30px;
    color: #8b8b8b; }
    #home-container #tab-container .title {
      flex: 2;
      color: orange;
      font-size: 50px;
      padding-top: 0; }
    #home-container #tab-container .tab {
      flex: 1;
      text-align: center;
      padding-top: 50px; }
      #home-container #tab-container .tab.active {
        color: white; }
  #home-container #go-message-board-icon-container {
    position: fixed;
    bottom: 30px;
    right: 10px; }
    #home-container #go-message-board-icon-container img {
      width: 48px; }
  #home-container #content-container {
    border: 1px solid;
    padding: 10px;
    font-size: 20px; }
    #home-container #content-container .message-board-container .writing-wrapper .title {
      height: 65px;
      background-color: gray;
      line-height: 65px;
      text-align: center;
      font-size: 28px;
      font-weight: bold; }
    #home-container #content-container .message-board-container .writing-wrapper .writing-container {
      position: relative;
      padding: 10px 0 0 30px; }
      #home-container #content-container .message-board-container .writing-wrapper .writing-container .name {
        height: 30px;
        width: 200px;
        margin-bottom: 5px;
        background-color: #5a5b64;
        color: white;
        padding-left: 10px;
        border: 0;
        font-size: 20px; }
      #home-container #content-container .message-board-container .writing-wrapper .writing-container .content {
        height: 150px;
        width: 800px;
        background-color: #5a5b64;
        color: white;
        padding-left: 10px;
        border: 0;
        font-size: 20px;
        resize: none; }
      #home-container #content-container .message-board-container .writing-wrapper .writing-container .submit-btn {
        position: absolute;
        bottom: 0;
        right: 0; }
    #home-container #content-container .message-board-container .writing-wrapper .gray-block {
      height: 20px;
      margin: 10px 0 10px 0;
      background-color: gray; }
    #home-container #content-container .message-board-container .message-container {
      padding: 10px;
      position: relative;
      border-bottom: 1px solid; }
      #home-container #content-container .message-board-container .message-container:last-child {
        border-bottom: none; }
      #home-container #content-container .message-board-container .message-container .name {
        display: inline; }
      #home-container #content-container .message-board-container .message-container .date {
        display: inline-block;
        margin-left: 50px;
        font-size: 16px;
        float: right; }
      #home-container #content-container .message-board-container .message-container .content {
        margin: 10px 0 0 0; }
      #home-container #content-container .message-board-container .message-container .reply-btn {
        position: absolute;
        right: 0;
        bottom: 10px; }
      #home-container #content-container .message-board-container .message-container .cancel-btn {
        position: absolute;
        right: 0;
        bottom: 10px; }
      #home-container #content-container .message-board-container .message-container .reply-container {
        padding: 10px;
        margin: 0 50px 0 50px;
        position: relative;
        border-bottom: 1px solid; }
        #home-container #content-container .message-board-container .message-container .reply-container:last-child {
          border-bottom: none; }
        #home-container #content-container .message-board-container .message-container .reply-container .name {
          display: inline; }
        #home-container #content-container .message-board-container .message-container .reply-container .date {
          display: inline-block;
          margin-left: 50px;
          font-size: 16px;
          float: right; }
        #home-container #content-container .message-board-container .message-container .reply-container .content {
          margin: 10px 0 0 0; }
      #home-container #content-container .message-board-container .message-container .reply-input {
        padding: 10px 50px 0 50px; }
        #home-container #content-container .message-board-container .message-container .reply-input .name {
          height: 30px;
          width: 200px;
          background-color: #5a5b64;
          color: white;
          padding-left: 10px;
          border: 0;
          font-size: 20px; }
        #home-container #content-container .message-board-container .message-container .reply-input .content {
          height: 90px;
          width: 800px;
          margin-top: 5px;
          background-color: #5a5b64;
          color: white;
          padding-left: 10px;
          border: 0;
          font-size: 20px;
          resize: none; }
        #home-container #content-container .message-board-container .message-container .reply-input .submit-btn {
          position: absolute;
          bottom: 50px;
          right: 0; }
    #home-container #content-container .about-container, #home-container #content-container .skill-container, #home-container #content-container .project-container {
      margin: 30px;
      text-align: center;
      line-height: 35px; }
      #home-container #content-container .about-container a, #home-container #content-container .about-container:visited, #home-container #content-container .skill-container a, #home-container #content-container .skill-container:visited, #home-container #content-container .project-container a, #home-container #content-container .project-container:visited {
        color: #ffc78e; }
      #home-container #content-container .about-container .left-part, #home-container #content-container .skill-container .left-part, #home-container #content-container .project-container .left-part {
        margin-right: 40px;
        display: inline-block;
        text-align: left;
        width: 100px; }
      #home-container #content-container .about-container .right-part, #home-container #content-container .skill-container .right-part, #home-container #content-container .project-container .right-part {
        display: inline-block;
        text-align: left;
        width: 400px; }
      #home-container #content-container .about-container .project-div, #home-container #content-container .skill-container .project-div, #home-container #content-container .project-container .project-div {
        margin-top: 40px;
        text-align: left;
        position: relative; }
        #home-container #content-container .about-container .project-div .title, #home-container #content-container .skill-container .project-div .title, #home-container #content-container .project-container .project-div .title {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 5px; }
          #home-container #content-container .about-container .project-div .title span, #home-container #content-container .skill-container .project-div .title span, #home-container #content-container .project-container .project-div .title span {
            font-weight: normal;
            font-size: 18px; }
        #home-container #content-container .about-container .project-div ul, #home-container #content-container .skill-container .project-div ul, #home-container #content-container .project-container .project-div ul {
          list-style-type: none;
          margin: 7px 0; }
        #home-container #content-container .about-container .project-div img, #home-container #content-container .skill-container .project-div img, #home-container #content-container .project-container .project-div img {
          width: 300px;
          position: absolute;
          right: 0;
          bottom: 0; }

/*# sourceMappingURL=home.css.map */
