body {
    background-color: #333;
    color: white;
    font-family: Microsoft JhengHei, serif;
}

#home-container {
    width: 950px;
    margin: auto;
    button {
        border-radius: 5px;
        z-index: 1;
    }
    #tab-container {
        display: flex;
        font-size: 30px;
        color: #8b8b8b;
        .title {
            flex: 2;
            color: orange;
            font-size: 50px;
            padding-top: 0;
        }
        .tab {
            flex: 1;
            text-align: center;
            padding-top: 50px;
            &.active {
                color: white;
            }
        }
    }
    #go-message-board-icon-container {
        position: fixed;
        bottom: 30px;
        right: 10px;
        img {
            width: 48px;
        }
    }
    #content-container {
        border: 1px solid;
        min-height: 500px;
        padding: 10px;
        @import "messageBoard";
        .about-container {
            .left-part{
                margin-right:10px;
                display:inline-block;
            }
            .right-part{
                display:inline-block;
            }
        }
    }

}


