<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeveloperResume</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/home.css">
    <script src="/resources/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/resources/js/home/home.js"></script>
    <script src="/resources/js/home/home.shell.js"></script>
    <script src="/resources/js/home/content/home.content.js"></script>
    <script src="/resources/js/home/content/home.content.shell.js"></script>
    <script src="/resources/js/home/content/home.content.about.js"></script>
    <script src="/resources/js/home/content/home.content.skill.js"></script>
    <script src="/resources/js/home/content/home.content.project.js"></script>
    <script src="/resources/js/home/content/messageBoard/home.content.messageBoard.js"></script>
    <script src="/resources/js/home/content/messageBoard/home.content.messageBoard.shell.js"></script>
    <script src="/resources/js/home/main.js"></script>


</head>
<body>
<div id="home-container"></div>
</body>
</html>